<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Super Best Friends Play Quotes | No Context is Best Context</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="{{ bodyClass }}">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block templates %}{% endblock %}
    <footer>
        For more, go to <a href="http://www.superbestfriendsplay.com"><strong>Super Best Friends Play</strong></a>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
