{% extends "layout.html.twig" %}

{% block content %}
    <section id="quote-container" class="{{ bodyClass }}">
        <a class="guess-game" href="/guess">Let's Play A Game</a>
        <div id="quote">
            <p class="quote-game">{{quote.game}}</p>
            <p class="quote-text">{{quote.quote}}</p>
            <p class="quote-speaker">- {{quote.speaker}}</p>
        </div>
    </section>
{% endblock %}
