@import 'variables';
@import 'quote/quote';
@import 'game/game';

html, body {
  height: 100%;
  font-family: sans-serif;
}

%text-shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

body, #quote-container, #guess-container {
  display: flex;
  margin: 0;
}

.guess-game {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;

  a {
    text-decoration: none;
    padding-bottom: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}

#quote-container {
  height: 100%;
  flex: 1;
}

#guessForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    padding: 1rem;
  }
}

#quote {
  text-align: center;

  .quote-text, .quote-speaker, .quote-game {
    @extend %text-shadow;
    font-weight: bold;
  }

  .quote-text {
    padding: 0 15px;
    font-size: 32pt;
  }

  .quote-speaker {
    font-size: 18pt;
  }

  .quote-game {
    font-size: 16pt;
  }
}


footer {
  position: absolute;
  bottom: 0;
  padding: 15px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
