{% extends "layout.html.twig" %}

{% block content %}
    <section id="guess-container">
        <div class="guess-game">
            <a href="/">Difficulty is too strong. Back down like a coward</a>
            <div id="score"></div>
        </div>
        <div id="game">
            <router-link to="/join">Join Game</router-link>
            <router-link to="/start">Start Game</router-link>
            <router-view></router-view>
        </div>
    </section>
{% endblock %}

{% block templates %}
    <script type="text/javascript">
    var __INITIAL_STATE__ = {{ state | dump | safe }};
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/js/build.game.js"></script>
{% endblock %}
