{% extends "layout.html.twig" %}

{% block content %}
    <section id="game"></section>
{% endblock %}

{% block templates %}
    <script type="text/javascript">
    var __INITIAL_STATE__ = {{ state | dump | safe }};
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/js/build.game.js"></script>
{% endblock %}
