<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Best Friends Play Quotes | No Context is Best Context</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="{{ bodyClass }}">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>
        For more, go to <a href="//superbestfriendsplay.com"><strong>Super Best Friends Play</strong></a>
    </footer>
    <script type="text/javascript" src="/js/game.js"></script>
</body>
</html>
